.card {
    display: flex; 
    flex-direction: column;
    color: lightblue; 
    border-radius: 4px;
    border-style: solid;
    border-color: #f0f0f5;
    justify-content: center;
    align-items: center;
    .unselected-button {
        background-color: #F8FAFC;
        border: 1px solid #F5F8FD;
        border-radius: 4px;
        > svg {
            color: #AABAD6;
        }
    }
    .product-container {
        display: flex;
        flex-direction: column; 
        justify-content: space-between;
        align-items: center;
    }
}