.axiamatic {
    font-weight: 600;   
    display: flex;
    height: 100vh;
    flex-direction: column;
    .header-container {
        height: 30%;
        display: flex; 
        flex-direction: row; 
        justify-content: space-between;
        .exit-setup {
            color: #B8C5DC;
            font-size: 8px;
        }
    }
    .products { 
        display: flex; 
        flex-direction: row; 
        justify-content: space-around;
        align-items: center;
        .product-action-container {
            display: flex; 
            justify-content: space-between;
            flex-direction: column; 
            .search-text {
                color: #858589;
                font-weight: 400; 
                font-size: 12px;
            }
        }
    }
}
